#switcher {
    list-style: none;
    /* margin: 0; */
    /* padding: 0; */
    margin-left: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  #switcher li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 15px 15px 0;
    border: 5px solid black;
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  #grayButton {
    background: rgb(128, 128, 128);
  }
  #whiteButton {
    background: rgb(168, 19, 19);
  }
  #blueButton {
    background: rgba(0, 0, 255, 0.5);
  }
  #yellowButton {
    background: rgb(4, 0, 255);
  }
  .head-class{
    color: black;
    
  }